:root {
    --neutral-900: #02012C;
    --neutral-800: #262540;
    --neutral-700: #302F4A;
    --neutral-600: #3C3B5E;
    --neutral-300: #ACACB7;
    --neutral-200: #D4D3D9;
    --neutral-0: #FFF;
    --blue-500: #4658D9;
    --blue-700: #2B019C;
    --space-0px: 0;
    --space-2px: 0.125rem;
    --space-4px: 0.25rem;
    --space-6px: 0.375rem;
    --space-8px: 0.5rem;
    --space-10px: 0.625rem;
    --space-12px: 0.75rem;
    --space-16px: 1rem;
    --space-20px: 1.25rem;
    --space-24px: 1.5rem;
    --space-32px: 2rem;
    --space-40px: 2.5rem;
    --space-48px: 3rem;
    --space-64px: 4rem;
    --space-80px: 5rem;
    --space-96px: 6rem;
    --space-112px: 7rem;
    --space-128px: 8rem;
    --space-140px: 8.75rem;
    --radius-0: 0;
    --radius-4: 0.25rem;
    --radius-6: 0.375rem;
    --radius-8: 0.5rem;
    --radius-10: 0.625rem;
    --radius-12: 0.75rem;
    --radius-16: 1rem;
    --radius-20: 1.25rem;
    --radius-24: 1.5rem;
    --radius-full: 999px;
    --text-xs: 0.75rem;
    --text-xs--line-height: calc(1 / 0.75);
    --text-sm: 0.875rem;
    --text-sm--line-height: calc(1.25 / 0.875);
    --text-lg: 1.125rem;
    --text-lg--line-height: calc(1.75 / 1.125);
    --text-2xl: 1.5rem;
    --text-2xl--line-height: calc(2 / 1.5);
    --text-3xl: 1.875rem;
    --text-3xl--line-height: calc(2.25 / 1.875);
    --text-5xl: 3rem;
    --text-5xl--line-height: 1;
    --text-7xl: 4.5rem;
    --text-7xl--line-height: 1;
    --font-weight-light: 300;
    --font-weight-medium: 500;
    --transition: 3ms ease-in-out;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    margin: var(--space-0px);
    height: 100%;
    width: 100%;
    color: var(--neutral-200);
    background-color: var(--neutral-900);
}

ul {
    list-style-type: none;
}

h1 {
    font-size: var(--text-3xl);
    line-height: var(--text-3xl--line-height);
}

h2 {
    font-size: var(--text-2xl);
    line-height: var(--text-2xl--line-height);
}

h3 {
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
    color: var(--neutral-300);
}

.content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.weather-list {
    display: flex;
    gap: 20px;
}

h1 {
    text-transform: capitalize;
}

.search-box {
    display: flex;
    gap: var(--space-20px);
    margin-top: var(--space-40px);
    width: 70%;
}

.search-input {
    border: none;
    color: white;
    padding: var(--space-16px);
    padding-left: var(--space-48px);
    background: url("/src/images/other/icon-search.svg") no-repeat 16px center;
    background-color: var(--neutral-800);
    border-radius: var(--radius-10);
    width: 90%;
}

.search-button {
    border: none;
    width: 10%;
    background-color: var(--blue-500);
    border-radius: var(--radius-10);
    cursor: pointer;
    transition: background-color 300ms ease-in-out;
    color: var(--neutral-200);
}

.search-button:hover,
.search-button:focus {
    background-color: var(--blue-700);
}

.weather-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--space-64px);
}

.weather-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 200px;
    background-color: var(--neutral-800);
    border-radius: var(--radius-10);
    padding: var(--space-10px);
    padding-top: var(--space-24px);
    cursor: pointer;
    transition: background-color var(--transition);
}

.weather-item:hover,
.weather-item:focus {
    background-color: var(--neutral-600);
}

.weather-item-icon {
    max-width: 100px;
    max-height: 100px;
}

.weather-item-temp-box {
    display: flex;
    justify-content: center;
    padding: var(--space-10px);
    gap: var(--space-24px);
    align-items: center;
}

.current-weather-icon {
    width: 200px;
    height: 200px;
}

.current-weather-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 350px;
}

.current-weather-left-box {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.current-weather-right-box {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    justify-content: center;
    margin-left: var(--space-48px);
}

.active {
    border-radius: var(--radius-10);
    background-color: var(--neutral-600);
}

.c-f-box {
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: center;
    gap: var(--space-6px);
}

.c-f-btn {
    font-size: var(--space-24px);
    color: var(--neutral-200);
}

.active-form {
    color: var(--neutral-300);
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    width: var(--space-80px);
    height: var(--space-80px);
    top: 50%;
    bottom: 0;
    left: 48%;
    right: 0;
    z-index: 1;
}

.content-weather-box {
    position: relative;
    z-index: 0;
}

.not-found {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    transform: translate(-50%, -50%);

}